@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Aileron';
  src: url('./assets/fonts/aileron/aileron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@import "tailwindcss";